<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42256760557-jr2t2ku2bcuio4eop6sunvkphptto900.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42256760557-jr2t2ku2bcuio4eop6sunvkphptto900</string>
	<key>API_KEY</key>
	<string>AIzaSyBMhAi1Ax_E-5SvQrjQ4o_OkMkpx4Ft50Y</string>
	<key>GCM_SENDER_ID</key>
	<string>42256760557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodx</string>
	<key>PROJECT_ID</key>
	<string>foodysl</string>
	<key>STORAGE_BUCKET</key>
	<string>foodysl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42256760557:ios:2099217c4d6e11987cd6e4</string>
</dict>
</plist>